		<title>Berklee Mobile Bidder</title>
		<STYLE TYPE="text/css">
		<!--
		TD{font-family: Arial; font-size: 20pt;}
		
		A:link {text-decoration: none color: black;}
		A:visited {text-decoration: none color: black;}
		A:active {text-decoration: none}
		A:hover {text-decoration: underline; color: red;}
		
		--->
		</STYLE>
