
body.landing{}

.landing img.logo {
	display: block;
	width: 300px;
	margin: 0px auto 20px;
}
.item-detail p {
	white-space: normal;

overflow: visible;
}
img.item-full {
	background-color: #fff;
	padding: 4px;
	float: right;
	margin: .3em;
	width: 40%;
	height: auto;
	border: 1px solid #000;
}
/*
[data-theme^="a"] .ui-li-thumb, 
.ui-listview [data-theme^="a"] .ui-li-icon {
	
	max-height: 42px;
}
[data-theme^="c"] .ui-li-thumb, 
.ui-listview [data-theme^="c"] .ui-li-icon {
	
	max-height: 56px;
}
.categories .ui-li-has-thumb[data-theme^="a"] .ui-btn-inner a.ui-link-inherit, 
.categories .ui-li-static.ui-li-has-thumb[data-theme^="a"] {
min-height: 56px;
min-height: 42px;
padding: 0px 15px 0px 75px;
padding-left: 75px;
padding: 0px 15px 0px 65px;
padding-left: 65px;
}

*/

.categories .ui-li-thumb, 
.categories.ui-listview  .ui-li-icon {
	
	max-height: 42px;
}

.categories .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, 
.categories .ui-li-static.ui-li-has-thumb {
min-height: 56px;
min-height: 42px;
padding: 0px 15px 0px 75px;
padding-left: 75px;
padding: 0px 15px 0px 65px;
padding-left: 65px;
}

.ui-field-contain.ui-body.ui-br {
	border-bottom: none;
}
